<!DOCTYPE html>
<html>
  <head>
    <title>Benny Hallett | Code monkey, roguelike dev, beer maker, chilli grower</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/reset.css" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css" />
  </head>

  <body>
    <div class="header">
      <div class="container">
        <div class="title">
          <a href="/">
            <h1>Benny Hallett</h1>
          </a>
        </div>
        <div class="subtitle">
          <p>Code monkey, roguelike dev, beer maker, chilli grower</p>
        </div>
      </div> <!-- /container -->
    </div> <!-- /header -->

    <div class="container">
      <div class="sidebar">
        <div class="sidebar-item">
          <a href="http://twitter.com/bennyhallett">@bennyhallett</a><br />
          <a href="http://github.com/BennyHallett">Github</a><br />
        </div>

        <div class="sidebar-item">
          <h2>Delve</h2>
          <a href="/delve.html">About delve</a><br />
          <a href="http://github.com/bennyhallett/delve">on Github</a><br />
          <!-- <a href="http://rubygems.org/delve">Rubygems</a><br /> -->
        </div>

        <div class="sidebar-item">
          <h2>Mochening</h2>
          <a href="/mochening.html">About mochening</a><br />
          <a href="http://github.com/bennyhallett/mochening">on Github</a><br />
          <a href="https://rubygems.org/gems/mochening">on Rubygems</a>
        </div>
      </div> <!-- /sidebar -->

      <div class="main">
        {% block content %}
        {% endblock %}
      </div> <!-- /main -->
    </div> <!-- /container -->
  </body>
</html>
