<!DOCTYPE html>
<html>
  <head>
    <title>Benny Hallett | Code monkey, roguelike dev, beer maker, chilli grower</title>
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/reset.css" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css" />
    <link href='http://fonts.googleapis.com/css?family=Share+Tech' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div class="header">
      <div class="container">
        <a href="/">
          <h1>Benny Hallett</h1>
          <h2>Code monkey, roguelike dev, beer maker, chilli grower</h2>
        </a>
      </div> <!-- /container -->
    </div> <!-- /header -->

    <div class="container">
      <div class="sidebar">
        <div class="sidebar-item">
          <h3>Github</h3>
          <a href="http://github.com/BennyHallett">BennyHallett</a>
        </div> <!-- /sidebar-item -->

        <div class="sidebar-item">
          <h3>Twitter</h3>
          <a href="http://twitter.com/bennyhallett">@bennyhallett</a>
          <div class="tweets">
          </div> <!-- /tweets -->
        </div> <!-- /sidebar-item (twitter) -->

        <hr />

        <div class="sidebar-item">
          <h3>Delve</h3>
          <a href="/delve">About delve</a><br />
          <a href="http://github.com/bennyhallett/delve">Source code</a><br />
          <!-- <a href="http://rubygems.org/delve">Rubygems</a><br /> -->
        </div>
      </div> <!-- /sidebar -->

      <div class="main">
        {% block content %}
        {% endblock %}
      </div> <!-- /main -->
    </div> <!-- /container -->
  </body>
</html>
