<div class="row">
  <div class="sixteen columns">
    <div class="twelve columns alpha">
      <h1 class="title"><a href="/">Benny Hallett</a></h1>
    </div>

    <div class="four columns omega">
      <div class="links">
        <a href="http://github.com/bennyhallett" class="icon github"></a>
        <a href="http://twitter.com/bennyhallett" class="icon twitter"></a>
        <a href="https://stackoverflow.com/users/109246/benny" class="icon stackoverflow"></a>
      </div>
    </div>
  </div>
</div>
