<div class="sidebar-item">
  <div class="outline">
    I'm Benny, a Ruby developer from the Central Coast of New South Wales. I enjoy writing well structured, well tested code, and try to share what I make. I also make beer and grow chillis, and share my recipes for both.
  </div>
</div>

<div class="sidebar-item">
  <h1>Delve</h1>
  <ul>
    <li><a href="/delve">about Delve</a></li>
    <li><a href="http://github.com/bennyhallett/delve">on Github</a></li>
  </ul>
</div>

<div class="sidebar-item">
  <h1>Mochening</h1>
  <ul>
    <li><a href="/mochening">about Mochening</a></li>
    <li><a href="http://github.com/bennyhallett/mochening">on Github</a></li>
    <li><a href="https://rubygems.org/gems/mochening">on Rubygems</a></li>
  </ul>
</div>
