<!DOCTYPE html>
<html>
  <head>
    <title>Benny Hallett | some catch phrase</title>
    <%= @css %>
    <%= @js %>
  </head>

  <body>
    <div class="container">
      <div class="row header">
        <div class="four columns alpha">
          <h1>Benny Hallett</h1>
          <h2>developer</h2>
        </div>
      </div>

      <div class="row">
        <div class="four columns alpha">
          <hr />
          <!-- circular img -->
          <p class="about">
            Here is some interesting information about me la~
          </p>
          <div class="buttons">
            <a href="http://github.com/bennyhallett"><i class="fa fa-github fa-2">Github</a>
          </div>
          <hr />
        </div>
        
        <div class="twelve columns omega">
          <hr />
          <%= @content %>
        </div>
      </div>
    </div>
  </body>
</html>
