body {
  font-size: 18px;
  background-color: #f2f2f2;
  font-family: 'Ubuntu', sans-serif;
}

a, a:visited {
  color: #15212f;
}

a:hover {
  color: #ea2212;
}

.header {
  margin-bottom: 0;
  margin-top: 1.5em;
}

.header h1 {
  font-size: 1.5em;
  margin-bottom: .1em;
}

.buttons {
  text-align: center;
  margin: 1em 0;
}

.nav-buttons {
  text-align: right;
  margin-bottom: 1em;
}

.buttons a {
  margin: 0 .3em;
  text-align: center;
}

.nav-buttons a {
  margin: 0 .3em;
}

.about {
  font-size: .8em;
  line-height: 1.3em;
}

.project, .gap-top {
  margin-top: 1em;
}

.no-gap-bottom {
  margin-bottom: 0;
}

.project h5 {
  font-size: smaller;
  margin-bottom: .8em;
  color: #15212f;
}

.project a {
  text-decoration: none;
}

.project span {
  font-size: .8em;
  font-weight: bold;
  margin-left: .5em;
}

#post {
  padding-right: 2em;
}

.index {
  margin-top: 1em;
}

.index-nav {
  margin-top: 3em;
}

.pull-right {
  text-align: right;
}

.pull-right a {
  padding-right: 2em;
}

code, code.inline {
  font-family: 'Ubuntu Mono', monospace !important;
  color: #ea2212;
}

pre {
  padding-left: 1em;
}

ul {
  list-style: disc;
  margin: 3em;
}

img {
  border: 1px solid #ea2212;
  padding: 2px;
}
