body {
  background: white;
  color: #1c1c1c;
  font-size: 1.7em;
  line-height: 1.6em;
  font-family: 'Open Sans', sans-serif;
}

.container { 
  width: 75%;
  margin: 0 auto;
  clear: both;
}

.main {
  width: 75%;
  float: left;
}

.sidebar {
  width: 20%;
  float: right;
  font-size: 0.7em;
  line-height: 1.2em;
}

.title {
  width: 35%;
  float: left;
}

.subtitle {
  width: 60%;
  float: right;
  text-align: right;
}

.sidebar-item {
  padding: 0.6em 0;
}

a {
  text-decoration: none;
  color: #60ac62;
}

a:hover {
  text-decoration: underline;
  color: #b4ca74;
}

h1, h2, h3, a h1, a h2, a h3, h1 a, h2 a , h3 a {
  color: #1c1c1c;
}

.header {
  padding: 1em 0;
  font-size: 0.7em;
  background: #ececec;
  background: linear-gradient(to bottom, #ececec 0%, #acacac 100%);
  overflow: hidden;
  border-bottom: 1px solid #1c1c1c;
  box-shadow: 0px 3px 10px #1c1c1c;
  margin-bottom: 0.7em;
}

.header a:hover {
  text-decoration: none;
}

h1, h1 a, a h1 {
  font-size: 1.5em;
}

h3, h3 a, a h3 {
  font-size: 0.8em;
  font-weight: normal;
}

#post-list li {
  margin-bottom: 1em;
}

.hentry footer, #content footer {
  font-size: 0.5em;
  color: #5d5d5d;
  line-height: 1em;
  margin-bottom: 1em;
}

.entry-content {
  font-size: 0.8em;
  line-height: 1.3em;
}

.entry-content p {
  margin-bottom: 0.8em;
}

.entry-content ul {
  list-style: disc;
  margin-left: 1em;
  margin-bottom: 0.8em;
}

.entry-content img {
  text-align: center;
  border: 1px solid #60ac62;
  padding: 4px;
}

.entry-content pre {
  font-size: small;
  line-height: 1.4em;
  margin: 0.5em 0;
  border-left: 3px solid #60ac62;
  padding: 0 1em;
}

section#content h2 {
  display: none;
}

section#content header h2 {
  display: block;
}
